/* GENERAL */
html,
body,
#root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.background {
  background-image: url('./images/mesh-190.png');
}

canvas {
  touch-action: none;
  display: block;
}

/* LOADING SCREEN */
.loading-screen {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: rgba(0, 25, 51);
}

.terminal_emulator {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  padding: 40px;
  line-height: 1.5;
  box-sizing: border-box;
  text-align: left;
  font-family: monospace;
  font-weight: 700;
  color: #ffffff;
  overflow-y: auto;
}

.terminal_emulator__field,
.terminal_emulator__command {
  position: relative;

  padding: 0 10.5em;
  margin: 0 0 9px 0;

  &:before,
  &:after {
    position: absolute;
  }

  &:before {
    left: 0;
    top: 0;
    color: #8ae234;
    content: 'arthur@panazolo:~$ ';
  }
}

.terminal_emulator__response,
.terminal_emulator__command b {
  padding-bottom: 9px;
}

.terminal_emulator__field {
  display: inline-block;
  min-width: 1em;
  min-height: 1.5em;
  box-sizing: border-box;
  &:after {
    right: 9.5em;
    bottom: 0.25em;
    content: '';
    width: 0.9em;
    height: 1.5em;
    background: white;
    animation: caretBlink 1s infinite;
  }

  &.waiting {
    padding-left: 0;
    padding-right: 0;
    &:before {
      display: none;
    }
  }
}

@keyframes caretBlink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  51% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

/* SCREENS */
.bootScreen img {
  width: 2075px;
  height: 1300px;
  border: none;
  border-radius: 20px;
  background: transparent;
}

.linkedInScreen {
  max-height: 1300px;
  border-radius: 20px;
  overflow-y: auto;
}

.linkedInScreen img {
  width: 2075px;
  border: none;
  border-radius: 20px;
  background: transparent;
}

.githubHtmlScreen {
  cursor: pointer;
}

.githubHtmlScreen iframe {
  width: 2088px;
  height: 1300px;
  border-radius: 20px 42px 42px 20px;
  border: none;
}

.githubScrollbarHider {
  width: 2070px;
  height: 1300px;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* BUTTONS */
.htmlButton {
  transition: all 0.5s ease;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1;
  font-size: 0.4rem;
  background-color: transparent;
  padding-left: 2.5px;
  padding-right: 2.5px;
  padding-bottom: 0.5px;
  outline: none;
  border-radius: 50%;
  opacity: 0;
}

.pulsing {
  animation: animate-pulse 4s linear infinite;
}

.htmlButton:hover,
.htmlButton.active {
  color: black;
  background-color: white;
  border-color: white;
}

.active {
  pointer-events: none;
  cursor: default;
}

@keyframes animate-pulse {
  0% {
    box-shadow: 0 0 0 0 #fff, 0 0 0 0 #fff;
  }
  40% {
    box-shadow: 0 0 0 3px rgba(255, 109, 74, 0), 0 0 0 0 #fff;
  }
  80% {
    box-shadow: 0 0 0 3px rgba(255, 109, 74, 0), 0 0 0 3px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0), 0 0 0 3px rgba(255, 109, 74, 0);
  }
}

/* SOCIAL-MEDIA-PANEL */
.social-media-panel-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  color: rgba(0, 25, 51);
}

.social-media-panel-container.show {
  opacity: 1;
}

.social-media-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.social-active {
  pointer-events: none;
  color: white;
}

.social-media-link {
  margin: 0 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.social-media-link a {
  color: rgba(0, 25, 51);
  text-decoration: none;
  transition: all 0.2s ease-in;
}

.social-media-link:hover,
.social-media-link a:hover {
  color: white;
}

/* EXTERNAL LINK */
.external-link {
  color: rgba(0, 25, 51);
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  color: inherit;
}

.external-link a {
  text-decoration: none;
  color: inherit;
}
